<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ben.practice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SubjectActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.AnswersActivity" />
        <activity
            android:name=".activity.ScratchActivity"
            android:theme="@style/translucent" />
        <activity android:name=".activity.ResultActivity" />
        <activity android:name=".activity.AnalyzeActivity" />
        <activity android:name=".activity.RankActivity" />
        <activity android:name=".activity.AlarmClockActivity"></activity>
        <receiver android:name=".broadcast.AlarmReceiver">

        </receiver>
    </application>

</manifest>
